<html>
    <body>
		<H1>Welcome to Bookshelf</H1>
		<hr/>
        <form action="/create" method="POST" enctype="multipart/form-data">
            Book Name: <input name="bookingid"><br>
            Book ID: <input name="mobile"  /><br>
            <input type="submit" value="create">  
        </form>
    </body>
</html>
